<div id="clientDetail">
    <table>
      <tr>
        <td style="align=right;">Client ID:</td>
        <td style="align:left;"><span id="client.id"></span></td>
      </tr>
      <tr>
        <td style="align=right;">First name:</td>
        <td style="align:left;"><span id="client.firstname"></span></td>
      </tr>
      <tr>
        <td style="align=right;">Last name:</td>
        <td style="align:left;"><span id="client.lastname"></span></td>
      </tr>
      <tr>
        <td style="align=right;">Contact name:</td>
        <td style="align:left;"><span id="client.contactname"></span></td>
      </tr>
      <tr>
        <td style="align=right;">City:</td>
        <td style="align:left;"><span id="client.city"></span></td>
      </tr>
      <tr>
        <td style="align=right;">State:</td>
        <td style="align:left;"><span id="client.state"></span></td>
      </tr>
      <tr>
        <td style="align=right;">Timezone:</td>
        <td style="align:left;"><span id="client.timezone"></span></td>
      </tr>
      <tr>
        <td style="align=right;">First contacted:</td>
        <td style="align:left;"><span id="client.firstcontact"></span></td>
      </tr>
      <tr>
        <td style="align=right;">First responded:</td>
        <td style="align:left;"><span id="client.firstresponse"></span></td>
      </tr>
      <tr>
        <td style="align=right;">Solicited:</td>
        <td style="align:left;"><span id="client.solicited"></span></td>
      </tr>
    </table>
</div>
