<div id="receivables" class="receivables-list">
    <table id="receivablesDetailTable">
      <thead>
        <tr>
          <th style="align=center;">Appointment ID</th>
          <th style="align=center;">Client First</th>
          <th style="align=center;">Client Last</th>
          <th style="align=center;">Topic</th>
          <th style="align=center;">Start time</th>
          <th style="align=center;">Duration</th>
          <th style="align=center;">Hourly Rate</th>
          <th style="align=center;">Billing %</th>
          <th style="align=center;">Amount Due</th>
          <th style="align=center;">Paid</th>
        </tr>
        <tr>
          <td colspan="10" style="text-align:right">
            <input type="date" id="datePicker" />
          </td>
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>

</div>
